* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: White;
}

.projects {
    position: absolute;
    inset: 0;
    color: White;
    top: 13rem;
    font-family: Monospace;
    font-size: 3rem;
    font-weight: 100;
}

.pythonProjectList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: absolute;
    inset: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 13rem;
    color: White;
    list-style: none;
    isolation: isolate;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 .6rem;
    width: 20rem;
    height: 15rem;
    background-color: hsla(0, 0%, 12%, 0.2);
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.1rem hsla(0, 0%, 22%, 1);
}

.jsProjectList {
    position: absolute;
    inset: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 40rem;
    color: White;
    list-style: none;
    isolation: isolate;
}

@media (max-width: 75em) {
    .projects {
        font-size: 1.7rem;
    }

    .project {
        padding: .5rem;
        width: 15rem;
        flex-grow: 1;
    }

    .pythonProjectList {
        margin-top: 8rem;
    }

    .jsProjectList {
        top: 92rem;
    }
}