::selection {
    background-color: Gray;
}

.home {
    font-family: 'Courier Prime', monospace;
    animation: fadeIn .750s ease-in 2.2s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
