.footer {
    position: absolute;
    font-size: 1.5rem;
    inset: 0;
    top: 58rem;
    color: White;
    box-shadow: 0 0 1rem 0.1rem hsla(0, 0%, 22%, 1);
}

div p a:hover,
a:focus {
    color: #fff;
    /* border-bottom: 2px solid #fff; */
    /* bottom box shadow */
    /* box-shadow: 0 0 1rem 0.1rem hsla(0, 0%, 22%, 1); */
    box-shadow: 0 .1rem 0 0 hsl(0, 0%, 100%);
}

@media screen and (max-width: 75em) {
    .footer {
        top: 125rem;
    }

    .footer a {
        font-size: 1.5rem;
    }
}